services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: salleo
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: