spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/salleo
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: change_this_to_a_strong_secret
  issuer: salleo
  expirationSeconds: 3600
